.btn{
  width: 125px;
  padding: 10px 0px;
  border-radius: 20px;
  display: block;
  margin-top: 10px;
  transition: background .4s;
  cursor: pointer;
  // herança
  &.btn-amarelo {
    background-color: yellow;
  }
  &.btn-azul {
    background-color: blue;
    color: white;
  }
  &:hover {
    background-color: black;
    color: white;
  }
}
// extend
.btn-roxo {
  @extend .btn;
  background-color: purple;
  color: white;
}

// herança precisa que no html exista a tag pai ex btn, para puxar as atribuições

// ja pelo extend não precisa colocar no html pode ser via extend mesmo.